body{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #0A0A0A;
}

a{
  text-decoration: none;
  color: inherit; 
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header{
  background-color: #0A0A0A;
  padding: 33px 0 32px;
  font-size: 24px;
  line-height: 29px;
  color:#717171;
}

.container{
  max-width: 1200px;
  margin: auto;

}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu{
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.phone{
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
  font-size: 24px;
  line-height: 29px;
}

.menu-item{
  padding-right: 30px;
}

.headline{
  background-color: #F5F5F7;
  text-align: center;
  padding: 70px 0 40px;
}
.title{
  text-transform: uppercase;
  margin: 0 0 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  color: #490E84;
}

.headline-img{
  margin-bottom: 25px;
}
.headline-btn{
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background-color: #490E84;
  padding: 22px 117px 19px 118px;
  border-radius: 30px;
}

.new{
  padding: 90px 0 150px;
}
.new-title,
.color-title{
  margin: 0 0 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; 
  font-size: 32px;
  line-height: 39px;
  color: #717171;
}

.new-info{
  display: flex;
  align-items: center;
}

.new-text p{
  max-width: 560px;
  margin: 0 0 30px;
  color: #0A0A0A;
}

.new-text b{
  display: block;
  max-width: 560px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.images-new{
  margin-left: 190px;
}

.color{
padding-bottom: 150px;
}

.color-list{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.color-item img{
margin-bottom: 20px;
}
.color-item h3{
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 10px;
}
.color-item p{
  margin: 0;
}

.contacts-inner{
  display: flex;
  background-color: #574B63;
  color: #fff;
}
.contacts-form{
  width: 100%;
  padding: 100px 93px;
  text-align: center;
}
.contacts-title{
  margin: 0 0 60px;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
}
.contacs-input{
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  background-color: #574B63;
}
.contacs-input::placeholder{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  opacity: .5;
  font-weight: 400;
}
.contacts-form p{
  margin: 30px 0;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  opacity: .5;
  font-weight: 400;
}
.contacts-form button {
  border: none;
  text-transform: uppercase;
  color: #490E84;
  background-color: #fff;
  border-radius: 30px;
  padding: 16px 81px;
  font-weight: 400;
  cursor: pointer;
}

.footer{
background-color: #0A0A0A;
}

.footer-link{
  flex-basis: 0;
  flex-grow: 1;

  text-align: left;
}

.footer-inner{
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.politics{
  font-family: 'Inter', sans-serif;
  background-color: rgb(247, 247, 247);
  padding: 0 500px;
  margin: 0px;  
}
.politics p{
  color: rgb(10, 10, 10);
  font-size: 16px;
  max-width: 1200px;
  line-height: 26px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px; 
}

.menu-btn{
  display: none;
}


@media (max-width:1200px) {
  .headline-img,
  .images-new{
    max-width: 100%;
  }
  .contacts-inner{
    display: block;
  }
  .contacts-form{
    width: auto;
  }
  .contacts-title{
    text-align: center;
  }
  .contacts-img{
    width: 100%;
    padding: 0px;

  }
  .contacts{
    background-color: #574B63;
  }

    .footer-inner.phone{
    margin-left: 0px;
  }
  /* .footer-link{
    margin-right: 0px;
  } */
}

@media (max-width:1100px) {
.color-list{
  flex-wrap: wrap;
}
.color-item{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width:940px) {
  .menu-btn{
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    order: 1;
    border: none;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    z-index: 50;
  }
  .logo,
  .phone{
    position: relative;
    z-index: 50;
  }
  .btn-line{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: .3s ease;
  }
  .btn-line:nth-child(1){
    top: 0;
  }
  .btn-line:nth-child(2){
    top: 20px;
  }
  
  .btn-line:nth-child(3){
    top: 20px;
  }
  .btn-line:nth-child(4) {
    top: 40px;
  }
  .menu-open .btn-line:nth-child(1){
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(2){
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(4){
    transform: scaleX(0);
  }
  .menu{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: .3s ease;
  }
  .menu-open .menu{
    transform: translateY(0%);
  }
  .menu-item{
    padding: 30px 0;
    font-size: 56px;
  }
  .images-new {
    display: none;
  }
  .new-text p,
  .new-text b{
    max-width: 100%;
  }
  .phone{
    text-align: center;
  }
    .nav img {
      margin-left: 20px
    }
}

@media (max-width:768px) {

  .headline,
  .new
  {
    padding:50px 0;

  }

  .color{
    padding-bottom: 50px;
  }
  .contacts-form{
    padding: 50px 70px;
  }
}

@media (max-width:640px){
  .footer-inner{
    padding: 20px 0;
    flex-direction: column;
  }
    .footer-inner.logo{
    margin:15px 0;
  }
}


@media (max-width:560px) {
  .title {
  margin: 0 0 30px;
  font-size: 38px;
  line-height: 30px;
  }
    .headline-btn {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 65px 10px 65px;
  }
  .new-title,
  .color-title,
  .contacts-title{
    font-size: 25px;
    line-height: 29px;
  }
    .color-item,
    .color-item img {
      width: 100%;
    }
}

@media (max-width:420px) {
  .phone{
    font-size: 20px;
  }
}

@media (max-width:375px) {
  .title {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 20px;
  }

  .headline-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 60px 10px 60px;
  }
}
